<div>
<h2>Ncont list</h2>
<p-dropdown [options]="organisationList" [(ngModel)]="selectedOrganisation" [style]="{'width':'150px'}" #itemO (ngModelChange)="changeOrganisation(itemO)"></p-dropdown>
<p-dropdown [options]="conturiList" [(ngModel)]="selectedCont" [style]="{'width':'150px'}" #itemCont (ngModelChange)="changeCont(itemCont)"></p-dropdown>
<p-dropdown [options]="lunaAnFrom" [(ngModel)]="selectedLunaAnFrom" [style]="{'width':'150px'}"  #itemLAFrom (ngModelChange)="loadLunaAnFrom(itemLAFrom)"></p-dropdown>
<p-dropdown [options]="lunaAnTo" [(ngModel)]="selectedLunaAnTo" [style]="{'width':'150px'}"  #itemLATo (ngModelChange)="loadLunaAnTo(itemLATo)"></p-dropdown>
<p-dropdown [options]="syncDateListFrom" [(ngModel)]="selectedSyncDateFrom" [style]="{'width':'150px'}"  #itemSDFrom (ngModelChange)="loadSyncDateFrom(itemSDFrom)"></p-dropdown>
<p-dropdown [options]="syncDateListTo" [(ngModel)]="selectedSyncDateTo" [style]="{'width':'150px'}"  #itemSDTo (ngModelChange)="loadSyncDateTo(itemSDTo)"></p-dropdown>
<div style="text-align: left">
            Selected selectedNcont: {{selectedNcont ? selectedNcont.denumire + ' - ' + selectedNcont.clasa : 'none'}}
        </div>
        <!--  -->
	<div *ngIf="ncontList">
		<!-- <p-table [value]="ncontList" selectionMode="single" [(selection)]="selectedNcont"  dataKey="clasa" 
		[paginator]="true" [rows]="getNrOfRows()" [totalRecords]="getTotalRecords()"
		[lazy]="true" (onLazyLoad)="loadLazy($event)" >
			<ng-template pTemplate="header">
			    <tr>
			        <th>Tip balanta</th>
			        <th>Clasa</th>
			        <th>Data</th>
			        <th>Luna</th>
			        <th>SoldID</th>
			        <th>SoldIC</th>
			        <th>RulajD</th>
			        <th>RulajC</th>
			        <th>PrecedentD</th>
			        <th>PrecedentC</th>
			        <th>SoldFD</th>
			        <th>SoldFC</th>
			    </tr>
			</ng-template>
			<ng-template pTemplate="body" let-ncont>
			    <tr [pSelectableRow]="rowData">
			        <td>{{ncont.denumire}}</td>
			        <td>{{ncont.clasa}}</td>
			        <td>{{ncont.dateCreate}}</td>
			        <td> </td>
			        <td>{{ncont.soldic}}</td>
			        <td>{{ncont.soldic}}</td>
			        <td>{{ncont.curentd}}</td>
			        <td>{{ncont.curentc}}</td>
			        <td>{{ncont.precedentd}}</td>
			        <td>{{ncont.precedentc}}</td>
			        <td>{{ncont.nsoldid}}</td>
			        <td>{{ncont.nsoldic}}</td>
			    </tr>
			</ng-template>
		</p-table> -->

	<p-table [columns]="tableCols" [value]="ncontList" selectionMode="single" [(selection)]="selectedNcont"  dataKey="id" 
		[paginator]="true" [rows]="getNrOfRows()" [totalRecords]="getTotalRecords()"
		[lazy]="true" (onLazyLoad)="loadLazy($event)" [resizableColumns]="true">
			<ng-template pTemplate="header" let-columns>
		        <tr>
		            <th *ngFor="let col of columns" pResizableColumn>
		                {{col.header}}
		            </th>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-rowData let-columns="columns">
		        <tr [pSelectableRow]="rowData">
		            <td *ngFor="let col of columns"  class="ui-resizable-column">
		                {{rowData[col.field]}}
		            </td>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="summary">
		        <div style="text-align: left">
		            Selected Ncont: {{selectedNcont ? selectedNcont.denumire + ' - ' + selectedNcont.clasa + ' - ' + selectedNcont.id : 'none'}}
		        </div>
		    </ng-template>
	</p-table>
	</div>

<h3 class="first">Single Row Selection</h3>
<p-table [columns]="cols" [value]="cars" selectionMode="single" [(selection)]="selectedCar1" dataKey="vin">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div style="text-align: left">
           <!--  Selected Car: {{selectedCar1 ? selectedCar.vin + ' - ' + selectedCar1.brand + ' - ' + selectedCar1.year + ' - ' + selectedCar1.color: 'none'}} -->
        </div>
    </ng-template>
</p-table>
</div>