<div>
<h2>Ncont list</h2>
<p-dropdown [options]="organisationList" [(ngModel)]="selectedOrganisation" [style]="{'width':'150px'}" #itemO (ngModelChange)="changeOrganisation(itemO)"></p-dropdown>
<p-dropdown [options]="lunaAn" [(ngModel)]="selectedLunaAn" [style]="{'width':'150px'}"  #itemLA (ngModelChange)="loadLunaAn(itemLA)"></p-dropdown>
<p-dropdown [options]="syncDateList" [(ngModel)]="selectedSyncDate" [style]="{'width':'150px'}"  #itemSD (ngModelChange)="loadSyncDate(itemSD)"></p-dropdown>
<div style="text-align: left">
            Selected selectedNcont: {{selectedNcont ? selectedNcont.data.denumire + ' - ' + selectedNcont.data.clasa : 'none'}}
        </div>
tag
<p-treeTable [value]="ncontList" [columns]="tableCols" selectionMode="single" [(selection)]="selectedNcont" dataKey="id" [metaKeySelection]="true" 
    	(onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" 
		[paginator]="true" [rows]="getNrOfRows()" [totalRecords]="getTotalRecords()" [loading]="loading" [rowsPerPageOptions]="[10,25,50,100]" 
		[lazy]="true" (onLazyLoad)="loadLazy($event)" (onNodeExpand)="onNodeExpand($event)"  
		[resizableColumns]="true">
	
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns"  ttResizableColumn>
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr  [ttSelectableRow]="rowNode" >
            <td *ngFor="let col of columns; let i = index" >
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-treeTable>

<!--  <p-treeTable [value]="files">
  <p-column field="name" header="name"></p-column>
</p-treeTable> -->

<!-- <p-treeTable [value]="files" [columns]="cols" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
            <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-treeTable> -->

<!-- <h3 class="first">2</h3>  -->
<!--  <p-treeTable [value]="files">
    <ng-template pTemplate="header">
        <tr>
            <th>xxxx</th>
        </tr>
    </ng-template>
</p-treeTable> -->
<!-- <h3 class="first">Basic</h3>   -->
<!-- {{files | json }} -->
<!-- <p-treeTable [value]="files">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr>
            <td>{{rowData.name}}</td>
            <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{rowData.name}}
            </td>
            <td>{{rowData.size}}</td>
            <td>{{rowData.type}}</td>
        </tr>            
    </ng-template>
</p-treeTable> -->
        <!-- 
		[paginator]="true" [rows]="getNrOfRows()" [totalRecords]="getTotalRecords()"
		[lazy]="true" (onLazyLoad)="loadLazy($event)"-->
	<!-- <div *ngIf="ncontList"> -->


		<!-- <p-table [columns]="tableCols" [value]="ncontList" selectionMode="single" [(selection)]="selectedNcont"  dataKey="id" 
		[paginator]="true" [rows]="getNrOfRows()" [totalRecords]="getTotalRecords()"
		[lazy]="true" (onLazyLoad)="loadLazy($event)" >
		<ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div style="text-align: left">
            Selected Ncont: {{selectedNcont ? selectedNcont.denumire + ' - ' + selectedNcont.clasa + ' - ' + selectedNcont.id : 'none'}}
        </div>
    </ng-template>
		</p-table> -->


	<!-- </div> -->

</div>