<!--The content below is only a placeholder and can be replaced.-->
<h3 class="first">Login</h3>
<div>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">         
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i><i class="fas fa-key"></i></span>
            <input type="password" pPassword placeholder="Password"/>  
        </div>
    </div>
</div>  
<button (click)="logIn()">Send</button>
<button (click)="onClickMe()">Click me!</button>
{{clickMessage}}
</div>
<!-- <p-dropdown [options]="organisationList" [(ngModel)]="selectedOrganisation" [style]="{'width':'150px'}"  (change)="changeOrganisation($event)"></p-dropdown> -->
<p-button label="Balanta" icon="fa fa-check" iconPos="left" routerLink="/balanta" routerLinkActive="active"></p-button>
<p-button label="Istoric balanta" icon="fa fa-check" iconPos="left" routerLink="/h-balanta" routerLinkActive="active"></p-button>
            <router-outlet></router-outlet>
<!-- <treetable-component></treetable-component> -->

<!-- <table-component></table-component> -->